<div class="container">

    <ng-container *ngIf="foundArtists.length === 0">
        <h2>Search for an Artist</h2>
    </ng-container>

    <ng-container *ngFor="let foundArtist of foundArtists">
        <div class="artist" [routerLink]="['/artist-details', foundArtist.id]">
            <div>
                <img src="{{foundArtist.picture_medium}}" />
            </div>
            <div>
                <p>{{foundArtist.name}}</p>
                <p>{{foundArtist.nb_fan}} Fans</p>

                <ng-container *ngIf="!mobile">
                    <p>{{foundArtist.nb_album}}</p>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>