<div class="container">
    <ng-container *ngFor="let foundArtist of foundArtists">
        <div class="artist">
            <div>
                <img src="{{foundArtist.picture_medium}}" />
            </div>
            <div>
                <p>{{foundArtist.name}}</p>
                <p>{{foundArtist.nb_fan}} Fans</p>

                <ng-container *ngIf="!mobile">
                    <p>{{foundArtist.nb_album}}</p>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>