.container {
    contain: content;

    mat-toolbar {
        background: #485abf;
        color: white;
    }

    .search-field {
        width: 80%;
        margin: 0 auto;

        mat-form-field {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        .search-field {
            width: 50%
        }
    }
}